<div class="container main-content" ng-controller="ListBlogsController as b">
	<input type="text" placeholder="filter" ng-model="searchText.title"/>
	<input type="number" placeholder="limit" ng-model="limitRow"/>
	<hr>
	<table>
		<tr>
			<th>
			</th>
			<th>
				Title
			</th>
			<th>
				Content
			</th>
			<th>
				Author
			</th>
			<th>
				Postdate
			</th>
		</tr>
		<tr ng-repeat="data in contents | filter:searchText:strict | limitTo:limitRow | orderBy:'-timestamp'">
			<td>
				<a ui-sref="edit" ng-click="select(data)">edit</a>
			</td>
			<td>
				{{ data.title }}
			</td>
			<td>
				{{ data.post }}
			</td>
			<td>
				{{ data.author }}
			</td>
			<td>
				{{ data.timestamp }}
			</td>
		</tr>
	</table>
</div>
